.head-1{
    font-size: 36px;
    font-weight: 600;
    color: $black;
}
.head-2{
    font-size: 18px;
    color: $black;
    font-weight: normal;
}
.head-3{
    font-size: 13px;
    text-transform: uppercase;
    columns: $black;
    font-weight: normal;
}
.desc{
    font-size: 14px;
    color: $dark-gray;
}