$blue-gray: #919eab;
$light-blue-gray: #c4cdd5;
$dark-gray: #6a7c92;
$gray: #adadad;
$blue: #4ad5f6;
$black: #212b36;
$black-light: #454f5b;
$black-medium: #47495a;
$primary-bg: #f9fafb;
$sec-bg: #f4f6f8;
