.footer-wrapper{
    padding: 48px 0 85px 0;
    height: 32.5%;
    background-color: $sec-bg;
    .footer-main{
        display: flex;
        justify-content: space-between;
        .footer-contact{
            display: flex;
            flex-direction: column;
            .img-hold{
                svg{
                    margin-right: 20px;
                }
            }
            .blue-txt{
                font-size: 12px;
                color: $blue;
                margin-bottom: 10px;
                line-height: 1.7;
            }
            span{
                font-size: 12px;
                color: $blue-gray;
            }
            .tele{
                font-size: 18px;
                color: $black-light;
                margin-bottom: 17px;
            }
        }
        .nav-menu-wrapper{
            display: flex;
            flex-direction: column;
           .nav-menu{
                margin-bottom: 8px;
                font-size: 14px;
                color: $black-light;
           }
           .nav-head{
               margin-bottom: 10px;
               font-size: 14px;
               color: $blue-gray;
               text-transform: uppercase;
           }
           .nav-link{
               font-size: inherit;
               color: inherit;
           }
        }
        .footer-text-wrap{
            display: flex;
            flex-direction: column;
            flex-basis: 35%;
            .desc{
                font-size: 14px;
                color: $blue-gray;
            }
            .logo-icon{
                margin-bottom: 10px;
            }
            
        }
    }
    
}
.twitter-icon,.linkedin-icon,.facebook-icon{
    width: 33px;
    height: 33px;
}


