.dayContainer{
    justify-content: center;
    padding-bottom: 20px;
    .flatpickr-day.selected{
        border-radius: unset;
        background-color: #e1f9ff;
        border: 1px solid #e1f9ff;
        color: $black;
    }
    .flatpickr-day{
        border-radius: unset;
        border: 1px solid #dfe3e8;
    }
    .flatpickr-day:hover, .flatpickr-day.today{
        border-radius: unset;
    }

}
