.document-page{
    display: none;
    padding: 79px 0 80px 0;
    background-color: $primary-bg;
    .head-1.m-b{
        margin-bottom: 50px;
    }
    .button-hold.m-b{
        margin-bottom: 30px;
    }
    &.active-page{
        display: block;
    }
}